@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
footer {
  background: -webkit-gradient(linear, left top, right top, from(#2191D0), color-stop(#01D7D9), to(#EAE5D2));
  background: linear-gradient(90deg, #2191D0, #01D7D9, #EAE5D2);
  color: white;
  text-align: center;
  height: 50px;
  padding: 10px;
}

.btn-contactanos {
  background: #004290;
  color: white;
  padding: 5px 20px;
  font-size: x-large;
  text-decoration: none;
  border-radius: 0.25rem;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
}

.btn-talleres {
  background: #AF9A7D;
  color: white;
  padding: 5px 20px;
  font-size: x-large;
  text-decoration: none;
  border-radius: 0.25rem;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
}

.btn-formulario {
  background: #2191D0;
  color: white;
  padding: 5px 20px;
  font-size: x-large;
  text-decoration: none;
  border-radius: 0.25rem;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
}

.btn-contactanos:hover {
  color: white;
  background: #EAE5D2;
}

.btn-talleres:hover {
  color: white;
  background: #EAE5D2;
}

.btn-formulario:hover {
  color: white;
  background: #EAE5D2;
}

.titularPagina, .titularPagina--center {
  font-size: 3rem;
  color: #004290;
  padding: 15px;
}

.subTitularPagina, .subTitularPagina--center {
  font-size: 1.5rem;
  color: #777 !important;
}

.titularPagina--center {
  text-align: center;
}

.subTitularPagina--center {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

/* Body
------------------------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
}

.contenedorIndex {
  height: 75vh;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}

.contenedorIndex:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 66, 144, 0.7) !important;
}

.contenedorIndex__img {
  height: 100%;
  display: block;
}

/* Menu
-------------------------------------------------- 
.navbar {
  border-radius: 0px;
  border: 0px;
  background: transparentize($color: white, $amount: 1) !important;
  position: absolute;
  top: 0;
}

  nav li a {
    color: white !important;
  }

  nav li a:hover {
    background: $color-primario !important;
  }

  .navbar-brand {
    color: white !important;
    font: {
      family: 'Italianno', cursive;
      size: 60px !important;
    }
  }


/* Carrusel
-------------------------------------------------- */
.carousel-inner .carousel-item .carousel-caption {
  background: darkgoldenrod;
  opacity: 0.6;
  color: white;
}

.slide img {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* Otros customs o Boostrap
--------------------------------------------------- */
.img-fluid-logo {
  width: 200px;
}

.content-img {
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
  width: 300px;
  height: 300px;
}

/* AQUI USO UN & */
.container-sm__btn-enviar {
  background-color: #eae5d2;
  border: 0;
}

@media only screen and (max-width: 963px) {
  .slide img {
    width: auto !important;
  }
}
/*# sourceMappingURL=style_sass.css.map */