$color-primario: #78b2c4;
$color-secundario: #eae5d2;
$Congress-Blue : #004290;
$Celestial-Blue : #2191D0;
$Bahamas-Blue : #01D7D9;
$Brown-Sugar : #AF9A7D;
$Eggshell-Brown : #EAE5D2;
$gris-mediterraneo: #777